<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?{{ cache_id }}">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css?{{ cache_id }}">
    <link type="text/css" rel="stylesheet" href="../static/styles/details.css?{{ cache_id }}">
    <link rel="icon" href="../static/images/icon.png" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>User Registration</title>
</head>
<body>
<header>
    <div class="logo"></div>
    <div id="api_status"></div>
</header>
<body>
<div class="container">
    <h1>User Registration</h1>
    <form id="registration-form">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="button" onclick="registerUser()">Register</button>
    </form>
</div>
<footer>
    <p>Holberton School</p>
</footer>

<script>
function validateEmail(email) {
    const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    return emailRegex.test(email);
}

function validatePassword(password) {
    return password.length >= 6;
}

function registerUser() {
    const firstName = $('#first_name').val();
    const lastName = $('#last_name').val();
    const email = $('#email').val();
    const password = $('#password').val();

    if (!validateEmail(email)) {
        alert('Invalid email format');
        return;
    }

    if (!validatePassword(password)) {
        alert('Password must be at least 6 characters long');
        return;
    }

    $.ajax({
        type: 'POST',
        url: 'https://127.0.0.1:5001/api/v1/users',
        data: JSON.stringify({ first_name: firstName, last_name: lastName, email: email, password: password }),
        contentType: 'application/json',
        success: function(data) {
            alert('Registration successful! You can now log in.');
            window.location.href = 'login_page.html'; // ログインページへのリンク
        },
        error: function() {
            alert('Error during registration. Please try again.');
        }
    });
}
</script>
</body>
</html>
